coordinator={{ "true" if coordinator else "false" }}
{% if coordinator %}
node-scheduler.include-coordinator=false
discovery-server.enabled=true
http-server.log.path={{ data_root }}/http-request.log
{%  endif %}
http-server.http.port=8080
discovery.uri=http://{{ discovery_uri }}:{{ discovery_port }}
http-server.process-forwarded={{ "true" if process_forwarded else "false" }}
